/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Sid]
      ,[SFname]
      ,[SLname]
      ,[Saddress]
      ,[Sdob]
      ,[SSchoolCollege]
      ,[Scontactno]
      ,[gamename]
      ,[Semailid]
      ,[username]
      ,[password]
  FROM [SCMDB].[dbo].[Student]

  TRUNCATE TABLE [SCMDB].[dbo].[Student]